<app-nav></app-nav>
<div class="contain">
  <app-filter
    (selectedValuesChange)="handleSelectedValuesChange($event)"
  [reset] = "reset"></app-filter>
  <app-barchartsector
    [selectedYear]="selectedValues.year"
    [selectedTopic]="selectedValues.topic"
    [selectedSector] ="selectedValues.sector"
    [selectedRegion] ="selectedValues.region"
    [selectedPestle] ="selectedValues.pestle"
    [selectedSource] ="selectedValues.sources"
    [selectedSwot] = "selectedValues.swot"
    [selectedCountry] ="selectedValues.country"
    [reset] = "reset"
  ></app-barchartsector>

  <button class="btn abs btn-danger" (click)="resetMethod()">Reset Filters</button>
</div>
