app-nav {
  position: fixed !important;
  left: 0 !important;
  display: inline-flex !important;
}
.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right : 0;
    margin-top: 0;
    margin-left: 10rem;
}
app-filter {
    margin : 2rem;
    position: absolute;
    left : 1;
    top : 0;
}
.abs {
  position: absolute; /* This positions the element relative to the nearest positioned ancestor */
  top: 100px; /* Adjust the top position as needed */
  right: 50px; /* Adjust the right position as needed */
}
